# This can be whatever you want. It's specified here so that the `client`
# and `server` services both use the same image built by the `base` service.
BASE_IMAGE_NAME=inaya-app

# Path to mount the codebase into the Docker container:
REPO_MOUNT_POINT=/srv/app

# Must be the parent directory of `REPO_MOUNT_POINT` for Yarn to be able to
# look up the `.yarnrc.yml`: created in Dockerfile.
REPO_MOUNT_POINT_PARENT=/srv
# This can be whatever you want but 8000 is the convention:
FRONT_END_PORT=8000
BACK_END_PORT=3000

# These are the port numbers exposed to the host side. Pick whatever numbers
# you want but because Docker randomly assigns a high port from the range 32768
# to 61000 if not specified, I choose a number from that range here:
FRONT_END_HOST_PORT=32804
BACK_END_HOST_PORT=32806

# The host name at which the GraphQL API can be accessed, usually `localhost`
# for local development:
BACK_END_HOST_NAME=localhost

# Path to Yarn's dependency cache directory:
MAIN_YARN_DIR=/yarn